* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
* linguist-vendored
*.php linguist-vendored=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
